<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944395723231-0mul6ie2r41b69v3nuajqf3h60m23rek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944395723231-0mul6ie2r41b69v3nuajqf3h60m23rek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944395723231-58vsene7rl1p5oqu5l2ng67jf7tr63nq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6sinqC-d2RHw92Lk5j_xkbc7qgl-anMs</string>
	<key>GCM_SENDER_ID</key>
	<string>944395723231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sreeder.jim</string>
	<key>PROJECT_ID</key>
	<string>gym-sm</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-sm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944395723231:ios:09bc3f92813c4ffee8646a</string>
</dict>
</plist>